@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome To Winter Intl Hello World WebApp</h1>
=======
    <h1 class="display-4">Welcome To Winter Intl Hello World WebApp V2</h1>
>>>>>>> 3906698ceda67800999d2f06a210d4bc5371d834
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
